body {
    background: #000fff;
}
#btnsOperator>button {
    border: 0px;
    border-radius: 3px;
    margin: 1px;
    width: 100px;
    height: 25px;
    background: #85c5eb;
}
#btnsOperator>button:hover {
    background: #a7d6f1;
}
#btnsNums>button {
    border: 0px;
    border-radius: 3px;
    margin: 1px;
    width: 75px;
    height: 25px;
    background: #85c5eb;
}
#btnsNums>button:hover {
    background: #a7d6f1;
}
#btnsEq>button {
    border: 0px;
    border-radius: 3px;
    margin: 1px;
    width: 100px;
    height: 25px;
    background: #85c5eb;
}
#btnsEq>button:hover {
    background: #a7d6f1;
}